<div class="button-container">
  <button mat-button type="button" (click)="onGoBack()">
    <mat-icon>arrow_back</mat-icon>
    Go back to projects
  </button>
</div>
<form class="auth-form" [formGroup]="updateForm" (ngSubmit)="updateProject()">
  <h2>Update a project</h2>
  <mat-form-field class="form-field">
    <mat-label class="form-label">Name</mat-label>
    <input matInput class="form-input" formControlName="name" [placeholder]="project.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <mat-label >Status</mat-label>
    <mat-select formControlName="status">
      @for (option of statusOptions; track option+1) {
        <mat-option [value]="option">{{option}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dueDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-flat-button type="submit">Update</button>
  </form>
