<mat-sidenav-container class="container">
  <mat-sidenav mode="over" [(opened)]="opened" class="sidenav">
    <div class="close-button">
      <p>Hello, user</p>
      <button mat-icon-button class="close-icon" aria-label="close menu" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="sidenav-buttons">
      <p>Dashboard</p>
      <p><a routerLink="/projects">Projects</a></p>
      <p><a routerLink="/tasks">Tasks</a></p>
      <p>Settings</p>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-toolbar (sidebarChanged)="onOpenStateChanged($event)" [openState]="opened()"></app-toolbar>
    <app-home class="app-home"/>
  </mat-sidenav-content>
</mat-sidenav-container>