<div class="listview-container">
  <div class="filter-container">
    <app-filters></app-filters>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
        @for (column of displayedColumns; track column+1) {
          <ng-container [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{column}}">
              {{column | titlecase }}
            </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
        }
    
      <tr mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
