:root {
  --bg: #e6e1e1;
  --primary-text: var(#0f060a);
  --secondary-text: var(#3f001b);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
  height: 100%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
